$header-height: 101px;
$side-bar-width: 300px;
$form-height: 90px;

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

@mixin basic-font-color-white{
  color: #FFFFFF;
}
.header{
  position: absolute;
  z-index: 2;
  width: 100vw;
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}

.side-bar{
 float: left;
 width: $side-bar-width;
 height: 100vh;
 &__header{
   height: $header-height;
   background-color: #253141;
   line-height: $header-height;
   padding: 0 20px;
   &__name{
    float: left;
    font-size: 16px;
    font: bold;
    @include basic-font-color-white;
   }
   &__lists{
     float: right;
     &__btn--icon-edit{
      @include basic-font-color-white;
     }
     &__btn--icon-cog{
      @include basic-font-color-white;
     }
   }
 }
 &__groups{
   height: calc( 100vh - #{$header-height} );
   background-color: #2f3e51;
   padding: 0 20px;
   overflow:auto;
   &__group{
     padding: 20px 0;
     &__name{
       font-size: 15px;
       font: bold;
       @include basic-font-color-white;
     }
     &__message{
       margin-top: 5px;
       font-size: 11px;
       font: bold;
       @include basic-font-color-white;
     }
   }
 }
}

.chat{
  width: calc(100vw - #{$side-bar-width});
  height: 100vh;
  float: left;
  &__header{
    border-bottom: solid #eeeeee;
    padding: 0 40px;
    display: flex;
    &__left-contents{
      &__group-name{
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__menber-list{
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__right-contents{
      margin-left: auto;
      margin-top: 28px;
      padding: 0 20px;
      border: solid;
      border-color: #38AEF0;
      height: 40px;
      &__btn{
        line-height: 40px;
        color: #38AEF0;
      }
    }
  }
  &__messages{
    background: #fafafa;
    padding: 0 40px;
    overflow:auto;
    height: calc(100vh - #{$header-height} - #{$form-height});
    &__message{
      padding-top: 6px;
      &__upper{
        &__name{
          display: inline-block;
          font-size: 16px;
          color: #434A54;
          margin-top: 40px;
        }
        &__date{
          display: inline-block;
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
          margin-top: 40px;
        }
      }
      &__lower{
        margin-top: 10px;
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__form{
    $pd: 40px;
    padding:0 $pd;
    position: absolute;
	  right: 0;
    bottom: 0;
    width: calc( 100vw - #{$side-bar-width} - #{$pd}*2);
    background-color: #999999;
    height: $form-height;
    &__new-message{
      display: inline-flex;
      align-items: center;
      margin-top: 20px;
      &__text{
        display: inline-block;
        padding:0 10px;
        font-size: 16px;
        color: #434A54;
        height: 50px;
        width: calc( 100vw - 530px);
      }
      &__upload-icon{
        display: none;
        margin-left: 10px;
      }
      &__upload-label{
        font-size: 1.5em;
        position: absolute;
        bottom: 25px;
        right:180px;
      }
      &__submit{
        display: inline-block;
        margin-left: 15px;
        background-color: #38AEF0;
        @include basic-font-color-white;
        height: 50px;
        width: 100px;
      }
    }
  }
}
